.sections-nav {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid $light-gray;
}

.sections-nav ul {
	display: flex;
	padding: 10px;
}

.sections-nav li {
	margin: 0 10px;
  font-family: $sans-serif;
  cursor: pointer;
}

.sections-nav li:hover {
	background-color: $light-gray;
}

.sections-nav a {
	text-transform: uppercase;
	font-size: 10px;
}
