<h1>New Sub</h1>
<form class="" action="<%= subs_url %>" method="post">
  <label>Add a new sub <br>
    <input type="text" name="sub[name]" value="">
  </label>
  <br>
  <label>Description <br>
    <textarea name="sub[description]" rows="8" cols="50"></textarea>
  </label>
  <br>

  <input type="submit" name="" value="Submit">
</form>
